@font-face {
    font-family: cairo;
    src: url(../fonts/Cairo-Regular.ttf);
}

@font-face {
    font-family: cairo;
    src: url(../fonts/Cairo-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: cairo;
    src: url(../fonts/Cairo-Light.ttf);
    font-weight: 100;
}

@font-face {
    font-family: cairo;
    src: url(../fonts/Cairo-SemiBold.ttf);
    font-weight: 500;
}

body {
    font-family: 'cairo', sans-serif;
}

h1 {
    position: relative;
    @include animation(transform-bottom-to-top, 0.5s, 1s, 1);
}

@keyframes transform-bottom-to-top {
    0% {
        opacity: 0;
        bottom: -20px;
    }

    100% {
        opacity: 1;
        bottom: 0px;
    }
}

.checkbox {
    position: relative;

    label {
        background-color: #fff;
        border: 2px solid #eceff4;
        border-radius: 50%;
        cursor: pointer;
        height: 20px;
        left: -5px;
        position: absolute;
        top: -3px;
        width: 20px;
        @include transition(0.3s all ease-in-out);
        &:after {
            border: 2px solid #fff;
            border-top: none;
            border-right: none;
            content: "";
            height: 6px;
            left: 3px;
            opacity: 0;
            position: absolute;
            top: 5px;
            transform: rotate(-45deg);
            width: 12px;
        }
    }

    input[type="checkbox"] {
        visibility: hidden;

        &:checked + label {
            background-color: #66bb6a;
            border-color: #66bb6a;

            &:after {
                opacity: 1;
            }
        }
    }
}

.todoList {
    position: relative;
    min-height: 100vh;
    background: $secondary-color;
    display: flex;
    justify-content: center;
    align-items: center;
}
