@import "compass/utilities/sprites";

@import "icons-rtl/*.png";
$icons-spacing: 20px;
$icons-sprite-rtl-dimensions: true;

// @include all-icons-sprite;

// .icon-{file-name}.png

$icons:
	


@each $icon in $icons {
    .#{$icon} {
        @include icons-rtl-sprite($icon);
    }
}